<app-map></app-map>
<section>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6">
            <div class="welcome my-3 mx-0">
                <p class="font-weight-bold">Proximo viaje confirmado</p>
            </div>
            <!-- <div class="info my-1 mx-0 mt-2">
                <p class="font-weight">Confirma el retiro</p>
            </div> -->
            <div class="mt-4">
                <a routerLink="/home" routerLinkActive="active">    
                    <button class="btn ml-5 mt-2">
                        <h6 class="m-0">LISTO</h6>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>    
