.body {
    height: 100%;
}

.match-parent {
    width: 100%;
    height: 300px;
    /* display: flow-root; */
    justify-content: center;
    align-items: center;
}

.title {
    /* display: flex; */
    float: left;
}
     
@media screen and (min-width:230px) and (max-width:765px){
    .match-parent {
        height: 340px;
    }
}
@media (max-width:320px){
    .match-parent {
        height: 280px;
    }
}

