.body {
    height: 100%;
}

.match-parent {
    width: 100%;
    height: 1000px;
    /* display: flow-root; */
    justify-content: center;
    align-items: center;
}

.title {
    /* display: flex; */
    align-items: left;
    justify-content: left;
}
     
@media (max-width:360px){
    .match-parent {
        height: 260px;
    }
}
@media (max-width:411px){
    .match-parent {
        height: 260px;
    }
}
