.body {
    height: 100%;
}

.match-parent {
    width: 100%;
    height: 300px;
    /* display: flow-root; */
    justify-content: center;
    align-items: center;
}

.title {
    /* display: flex; */
    float: left;
}
     
@media (max-width:320px){
   .match-parent {
    height: 230px;
}
}
@media (max-width:360px){
    .match-parent {
        height: 300px;
    }
}
@media (max-width:411px){
    .match-parent {
        height: 260px;
    }
}

