.welcome {
    border-bottom: 3px solid #dee2e6!important;
    text-align: center;
    font-size: 14px;
}
.form-control {
    border: none;
    background-color: #EDEDED;
    color: #000000 !important;
    font-size: 14px;
}
.border-left {
border-left: 1px solid #000000!important;
}