.welcome {
    border-bottom: 3px solid #dee2e6!important;
    text-align: center;
    font-size: 14px;
}
.form-control {
    border: none;
    background-color: #EDEDED;
    font-size: 14px;
    font-weight: bold;
}
.border-left {
border-left: 1px solid #000000!important;
}
.recycle-icon {
    display: block;
    float: right;  
    z-index: 3;
    position: absolute; /*newly added*/
    right: 5px; /*newly added*/
    top: 25px;/*newly added*/
}
.map {
 position: fixed;
}