<app-map></app-map>
<section>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6">
            <div class="info my-1 mx-0 mt-2">
                <p class="font-weight">Confirma el retiro</p>
            </div>
            <div class="select-card mt-4">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <img src="https://i.ibb.co/YdyJqcz/uber-Recycle2.png" class="card-img ml-2" alt="img car blue">
                    </div>
                    <div class="col-4">
                        <div class="card-body">
                            <span class="card-text ml-1">Uber Recycle</span>
                            <p class="font-weight ml-1">Llegada aprox.15:00</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card-body">
                            <p class="card-text float-right">CLP 0.000</p>
                        </div>
                    </div>
                </div>    
            </div>
            <!-- <div class="card mt-0">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <img src="https://i.ibb.co/YdyJqcz/uber-Recycle2.png" class="card-img ml-2" alt="img car blue">
                        </div>
                        <div class="col-4">
                            <div class="card-body">
                                <span class="card-text ml-1">Uber Recycle</span>
                                <p class="font-weight ml-1">Llegada 15:10</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card-body">
                                <p class="card-text float-right">CLP 0.000</p>
                            </div>
                        </div>
                    </div>    
                </div> -->
            <div class="mt-4">
                    <a routerLink="/home" routerLinkActive="active">    
                <button class="btn ml-5 mt-2">
                    <h6 class="m-0">PROGRAMAR UBER RECYCLE</h6>
                    <p class="m-0">vie.,oct.4,15:00-15:10</p>

                </button>
                </a>
                <!-- <img src="https://i.ibb.co/NpFtt8w/travel.png" class="card-img float-right mt-1 mr-2" alt="timer car"> -->
            </div>
        </div>
    </div>
</section>