<app-map></app-map>
<section>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6">
            <div class="info my-1 mx-0">
                <p class="font-weight">Elige un viaje</p>
            </div>
            <div class="select-card mt-0">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <img src="https://i.ibb.co/Cpyszjz/car2.png" class="card-img ml-2" alt="img car blue">
                    </div>
                    <div class="col-4">
                        <div class="card-body">
                            <span class="card-text">UberX</span>
                            <p class="font-weight">Llegada 08:00</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card-body">
                            <p class="card-text float-right">CLP6.071</p>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="card mt-0">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <img src="https://i.ibb.co/D7Bk8w5/car1.png" class="card-img ml-2" alt="img car yellow">
                    </div>
                    <div class="col-4">
                            <div class="card-body">
                                <span class="card-text">UberX</span>
                                <p class="font-weight">08:00</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card-body">
                                <p class="card-text float-right">CLP6.071</p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="card mt-0">
                <div class="row no-gutters">
                    <div class="col-4 mr-5">
                        <img src="https://i.ibb.co/19HJqyL/visa.png" class="card2-img float-left ml-2" alt="img visa card">
                    </div>
                    <div class="col-4 ml-5">
                        <img src="https://i.ibb.co/PYWR47D/sumate.png" class="card2-img float-right ml-2" alt="img go green">       
                </div>
            </div>
            </div>
            <div>
                <button class="gt ck ak ef gu gv gw f7 cq gx btn ml-2 mt-2">
                    <h6 class="m-2">CONFIRMAR UBERX</h6> 
                </button>
                <img src="https://i.ibb.co/NpFtt8w/travel.png" class="card-img float-right mt-1 mr-2" alt="timer car">
            </div>
        </div>
    </div>
</section>