<div data-aos="zoom-out"  data-aos-duration="1000">
        <app-map></app-map>
</div>
<section data-aos="fade-up"  data-aos-duration="1000">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6">
            <div class="info my-1 mx-0 mt-2">
                <p class="font-weight">Confirmar el retiro</p>
            </div>
            <div class="select-card mt-4">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <img src="../../../assets/img/icon/Icono reciclar.png" class="card-img m-3" alt="img car blue">
                    </div>
                    <div class="col-6">
                        
                        <div class="card-body">
                            
                            <span class="card-text ml-1">Uber Recycle</span>
                            <p class="font-weight ml-1">Llegada aprox.{{ time }} </p> 
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card-body">
                            <a routerLink="/program" routerLinkActive="active">  
                                <p class="card-text float-right">CLP 0.000</p>
                            </a>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="mt-4">
                <a routerLink="/home" routerLinkActive="active">    
                    <button class="btn ml-5 mt-2">
                        <h6 class="m-0">PROGRAMAR UBER RECYCLE</h6>
                        <p class="m-0">vie., oct.25, {{time}} </p>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>