<!-- Style Bootstrap -->
<nav class="navbar navbar-light bg-light">
  <img style="float:left" width="70" src="https://i.ibb.co/bW0h0jG/logo.png" alt="g logo">
  <div style="text-align:center">
    <h1 class="m-2"> {{ title }} </h1>
  </div>
  
  <form class="form-inline">
      <!-- <button class="btn btn-sm btn-outline-bg-light" routerLink="/home" routerLinkActive="active" type="button"><h3>Home</h3></button>
      <button class="btn btn-sm bg-light" routerLink="/project" routerLinkActive="active" type="button"><h3>Proyectos</h3></button>
      <button class="btn btn-sm btn-outline-bg-light" routerLink="/about" routerLinkActive="active" type="button"><h3>Nosotros</h3></button> -->
  </form>
</nav>
<div style="text-align:center">
  <!-- <h1 class="mt-5">
    Welcome to {{ title }}!
  </h1> -->
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>
<app-map></app-map>


